<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/pdf.css">
    <title>Mi CV</title>
</head>
<body>
    <div class="pdf container">
        <h1>Pronto podras visualizar mi CV</h1>
        <p>Sentimos el inconveniente, seguimos trabajando duro para brindarte una buena experiencia.</p>
    </div>
</body>
</html>