.sobremi{
    padding: 2rem 0;
}
.sobremi__titulo{
    text-align: left;
    font-weight: bold;
    color: var(--blanco);
}
.sobremi__imagen{
    display: none;
}
.sobremi__imagen-foto{
    width: 300px;
}
.sobremi__parrafo{
    font-family: var(--font-montserrat);
    text-align: justify;
    color: var(--blanco);
}

/* Media queris */

@media (min-width: 768px) {
    .sobremi__titulo{
    font-size: 4rem;
    }
    .sobremi__imagen{
        display: block;
    }
    .sobremi__imagen img{
        border-radius: 50%;
        float: left;
        shape-outside: circle(50%);
        clip-path: circle(50%);
        margin: 0 2rem 2rem 0;
    }
}