.sobremi{
    padding: 2rem 0;
}
.sobremi__container{
    display: flex;
}
.sobremi__titulo{
    font-family: var(--font-ubuntu);
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
    margin-bottom:1.5rem;
}
.sobremi__imagen{
    display: none;
}
.sobremi__imagen-foto{
    width: 300px;
}
.sobremi__parrafo{
    font-family: var(--font-montserrat);
    font-size: 1.2rem;
    text-align: justify;
}

/* Media queris */

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sobremi__imagen{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sobremi__imagen{
        display: none;
    }
}

@media screen and (max-width: 629px){
    .sobremi__titulo{
        font-size: 2.5rem;
    }
    .sobremi__parrafo{
        font-size: 1rem;
        text-align: justify;
    }
    .sobremi{
        padding-bottom: 4.5rem;
    }
} */