.banner{
    padding: 3rem 0 6rem 0;
    border-radius: 3rem;
    box-shadow: -2px -1px 21px 3px rgba(0,0,0,0.64);
    background-color: var(--blanco);
}
.banner__descripcion{ 
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    /* margin: 2rem; */
}
.banner__titulo{
    font-weight: bold;
    text-align: center;
}
.banner__parrafo{
    font-family: var(--font-montserrat);
    /* font-size: 1.2rem; */
    text-align: justify;
}
.banner__RS{
    display: flex;
    justify-content: space-between;
}
.banner__logos{
    width: 50px;
}
.banner__foto{
    display: flex;
    justify-content: center;
}
.banner__foto-perfil{
    width: min(100%, 350px);
    border-radius: 50%;
    box-shadow: 0 2px 10px 5px #00000020;
}
/*//////////////////////// Media Queris///////////////// */

@media (min-width: 768px) {
    .banner{
        padding: 7rem 0 7rem 0;
        display: flex;
        align-items: center;
    }
    .banner__descripcion{
        grid-template-columns: repeat(3, 1fr);
    }
    .banner__titulo{
        grid-column: 2/4;
        margin-bottom: 0;
        text-align: left;
        font-size: 4rem
    }
    .banner__foto{
        grid-row: 1/4;
    }
    .banner__parrafo{
        grid-column: 2/4;
        /* margin-top: 20%; */
    }
    .banner__RS{
        grid-column: 2/4;
    }
}