:root{
    --font-ubuntu:'Ubuntu', sans-serif;
    --font-montserrat:'Montserrat', sans-serif;
    --background: black;
    --main-color: #fdfdfd;
    --second-color: blue;   
}
.container{
    Width: min(120rem, 90%);
    Margin: 0 auto;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body{
    background-color: red;
}