.header{
    background: black;
    padding: 2rem 0 4rem 0;
    margin-bottom: 2rem;
}
.header_nav{
    text-align: center;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
}
.name__titulo{
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu__lista{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.menu__items{
    list-style: none;
    font-family: var(--font-montserrat);
    cursor: pointer;
}
.menu__items:hover{
    font-weight: bolder;
    transform: scale(1.1);
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Medias querias */
@media (min-width: 768px) {
    .header{
        padding: 2rem 0;
    }
    .header_nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .menu__lista{
        flex-direction: row;
        gap: 2rem;
    }
}
