.proyectos{
    padding: 2rem 0;
}
.proyectos__titulo{
    font-family: var(--font-ubuntu);
    font-weight: bold;
}
.proyectos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.proyectos__items{
    text-align: center;
}
.proyectos__imagen{
    width: min(500px, 100%);
    border-radius: 15px;
    box-shadow: 0 2px 10px 5px #00000020;
    transition: 1s;
}
.proyectos__imagen:hover{
    transform: scale(1.05);
}
.proyectos__subtitulo{
    font-family: var(--font-ubuntu);
    font-weight: bold;
}

/* @media screen and (max-width: 629px){
    .proyectos{
        padding: 2rem 0;
    }
    .proyectos__titulo{
        font-size: 2.5rem;
    }
    .proyectos__imagen{
        max-width: 350px;
        min-width: 250px;
    }
    .proyectos__subtitulo{
        font-size: 1.2rem;
    }
} */