.habilidades__container{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.skills__container{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2rem; */
}
.skills__titulo{
    font-family: var(--font-ubuntu);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.skills__lista{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    gap: 20px;
}
.skills__items{
    background: var(--main-color);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 5px #00000020;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__items:last-of-type{
    margin-bottom: 3rem;
}
.skills__items-titulo{
    font-family: var(--font-ubuntu);
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* padding: 1rem;   */
    text-align: center;
}
/* ///////////////elementos individuales Skills//////////////////// */
.skills__items-html{
    width: 100px;
}
.skills__items-css{
    width: 115px;
}
.skills__items-VSC{
    width: 110px;
}
.skills__items-ubuntu{
    width: 130px;
}
.skills__items-git{
    width: 115px;
}
.skills__items-GPT{
    width: 115px;
}

/* ////////////////////////////Soft skills//////////////////////////////// */

.soft__skills-lista{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    gap: 20px;  
}

/* ///////////////elementos individuales Soft Skills//////////////////// */

.skills__items-comu{
    width: 100px;
}
.skills__items-equipo{
    width: 115px;
}
.skills__items-empatia{
    width: 110px;
}
.skills__items-flex{
    width: 130px;
}
.skills__items-tiempo{
    width: 115px;
}
.skills__items-mente{
    width: 115px;
}

/* @media screen and (max-width: 629px){
    .skills__titulo{
        font-size: 2.5rem;
    }
    .skills__lista{
        flex-direction: column;
    }
    .soft__skills-lista{
        flex-direction: column;
    }
} */