.habilidades__container{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.skills__container{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2rem; */
}
.skills__titulo{
    font-family: var(--font-ubuntu);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blanco);
}
.skills__lista{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    gap: 20px;
}
.skills__items{
    background: var(--blanco);
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__items:last-of-type{
    margin-bottom: 3rem;
}
.skills__items-titulo{
    font-family: var(--font-ubuntu);
    font-weight: bold;
    text-align: center;
}
/* ///////////////elementos individuales Skills//////////////////// */
.skills__items-html{
    width: 100px;
}
.skills__items-css{
    width: 115px;
}
.skills__items-VSC{
    width: 110px;
}
.skills__items-ubuntu{
    width: 130px;
}
.skills__items-git{
    width: 115px;
}
.skills__items-GPT{
    width: 115px;
}

/* ////////////////////////////Soft skills//////////////////////////////// */

.soft__skills-lista{
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

/* ///////////////elementos individuales Soft Skills//////////////////// */

.skills__items-comu{
    width: 100px;
}
.skills__items-equipo{
    width: 115px;
}
.skills__items-empatia{
    width: 110px;
}
.skills__items-flex{
    width: 130px;
}
.skills__items-tiempo{
    width: 115px;
}
.skills__items-mente{
    width: 115px;
}

@media (min-width: 768px) {
    .skills__titulo{
        font-size: 4rem;
    }
    .skills__lista{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .skills__items:last-of-type{
        margin-bottom: 0;
    }
    .skills{
        margin-bottom: 2rem;
    }
    .soft__skills-lista{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}